<h3>Please SignUp down here</h3>

<form class="" action="/users" method="post">

<div>
<label for="name">Name: </label>
<input type="text" name="name" value="">
</div>

<div>
<label for="email">Email: </label>
<input type="text" name="email" value="">
</div>

<div>
<label for="password">password: </label>
<input type="text" name="password" value="">
</div>

  <input type="submit" value="Create User">

</form>
