<h2>Make new Report:</>

<form class="" action="/reports" method="post">

<div>
<label for="date">Date: </label>
<input type="date" name="report[date]" value="">
</div>

<div>
<label for="user_id">User_id: </label>
<input type="text" name="report[user_id]" value="">
</div>

<div>
<label for="subjects">Subjects: </label>
<input type="text" name="report[subjects]" value="">
</div>

<div>
<label for="comment">Comment: </label>
<input type="text" name="report[comment]" value="">
</div>

<div>
<label for="due_date">Due_date: </label>
<input type="date" name="report[due_date]" value="">
</div>



  <input type="submit" value="Create Reports">

</form>

   
  
